NODE_ENV=development
PORT=8006

DB_HOST=localhost
DB_PORT=3311
DB_USER=<db-user>
DB_PASSWORD=<db-password>
DB_NAME=quantumcart_payments
DB_CONNECTION_LIMIT=10

DB_ROOT_USER=<db-root-user>
DB_ROOT_PASSWORD=<db-root-password>

RABBITMQ_URL=amqp://localhost:5672

PAYMENT_PROVIDER=mock